body {
  width: 100vw;
  background:
    radial-gradient(circle at 50% 10vh, #f1f1f1, #fafafa) no-repeat;
}

.dark body {
  background:
    radial-gradient(circle at 50% 10vh, #1d1d1d, #0f0f0f) no-repeat;
}
